@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}
.container{
  max-width: 1440px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* FIXED NAV  */
.content-wrapper {
  display: flex;
}
.left-fixed-nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
  height: 100vh;
  width: 10%;
  background-color: #454647;
  border-right: 1px solid #a7a9ac;
}
.menu {
  width: 100%;
  padding: 25px 0;
  background: #3A3C3C;
  border: none;
  align-self: flex-start;
  cursor: pointer;
}
.menu-icon {
  color: #fff;
  font-size: 32px;
}
.social-networks {
  display: flex;
  flex-direction: column;
}
.git, .telegram {
  margin-bottom: 15px;
}
.git-icon, .telegram-icon, .linkedin-icon {
  color: #fff;
  font-size: 25px;
}

/* HEADER  */
.content-inline {
  position: relative;
  width: 90%;
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10%;
  background: #454647 url('../photo/hero-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: scroll;
}
.site-header {
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #fff;
  font-size: 45px;
  text-decoration: none;
}
.site-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav-item {
  margin-right: 40px;
}
.nav-link {
  display: block;
  position: relative;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}
.nav-link::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  content: "";
  transition: ease .3s;
}
.nav-item:hover .nav-link::before {
  width: 100%;
  background-color: azure;
}
.search {
  margin-right: 15px;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
.search-icon {
  color: #fff;
}

/* HERO  */
.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  color: #fff;
}
.hero-left {
  width: 30%;
}
.number {
  width: 90%;
  position: relative;
  display: block;
  border-bottom: 2px solid rgb(160, 170, 170);
  padding-bottom: 5px;
}
.number::before {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #fff;
  content: ""
}
.left-title {
  font-size: 20px;
}
.hero-left span {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  opacity: 0.6;
}
.hero-right {
  width: 45%;
}
.hero-title {
  margin-top: 0;
  font-size: 50px;
  line-height: 50px;
}
.hero-text {
  opacity: 0.6;
}

.feature {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  color: #fff;
  background: rgb(58 60 60 / 0.8);
}
.events {
  width: 50%;
  padding: 20px;
}
.events-title {
  font-size: 18px;
  text-transform: uppercase;
}
.events-info {
  display: flex;
  justify-content: space-between;
}
.text-info {
  display: block;
  opacity: 0.6;
  font-size: 15px;
}
.text-date {
  font-size: 15px;
}
.news {
  width: 50%;
  display: flex;
  align-items: center;
}
.newsinfo {
  padding: 20px;
}
.news-text {
  opacity: 0.6;
  font-size: 15px;
}
